# ==========================================
# البيئة الافتراضية
# لا نرفعها إلى GitHub
# ==========================================

venv/


# ==========================================
# ملفات Python المؤقتة
# ==========================================

__pycache__/
*.pyc


# ==========================================
# قاعدة البيانات المحلية
# ==========================================

students.db