<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>لوحة التحكم</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <!--     ==========================================
         شريط التنقل
         ==========================================     -->

    <nav>
      <a href="/">الرئيسية</a>

      <a href="/about">عن الموقع</a>

      <a href="/form">إضافة طالب</a>

      <a href="/students">الطلاب</a>
    </nav>

    <!--     ==========================================
         عنوان لوحة التحكم
         ==========================================     -->

    <h1>لوحة التحكم</h1>

    <!--     ==========================================
         جميع الكروت
         ==========================================     -->

    <div class="dashboard">
      <!--     ======================================
             الكارت الأول
             ======================================     -->

      <div class="dashboard-card">
        <h2>عدد الطلاب</h2>

        <p>{{ students_count }}</p>

        <a href="/students" class="card-button">عرض الطلاب</a>
      </div>

      <!--     ======================================
             الكارت الثاني
             ======================================     -->

      <div class="dashboard-card">
        <h2>إضافة طالب</h2>

        <p>➕</p>

        <a href="/form" class="card-button">إضافة طالب جديد</a>
      </div>
      <!--    ======================================
     الكارت الثالث: عدد المواد
     ======================================    -->

      <div class="dashboard-card">
        <h2>عدد المواد</h2>

        <p>📚 {{ subjects_count }}</p>

        <a href="/students" class="card-button">عرض الطلاب</a>
      </div>
      <!--  ======================================
     الكارت الرابع: البحث عن طالب
     ======================================  -->

      <div class="dashboard-card">
        <h2>البحث عن طالب</h2>

        <p>🔎</p>

        <a href="/students" class="card-button">البحث عن طالب</a>
      </div>
    </div>
  </body>
</html>
